@import '../../variables/variables';

.trending {

	&__heading {
		@include heading-fs-s;

		@media screen and (min-width: 767px) {
			@include heading-fs-m;
			margin-bottom: 24px;
		}

		@media screen and (min-width: 1439px) {
			@include heading-fs-l;
		}

	}

	&__bookmark-container {
		background-color: #10141e05;
		border-radius: 50%;
		position: absolute;
		top: 5%;
		right: 5%;
		width: 32px;
		height: 32px;
		cursor: pointer;

    &:hover {
      background-color: white;
      opacity: 1;
    }
	}

	&__bookmark-container.active svg {
		fill: white;
	}

	&__caption {
    width: 100%;
		position: absolute;
		bottom: 15%;
    left: 5%;
		display: flex;
    flex-direction: column;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 1.2;
		height: 70px;

		@media screen and (min-width: 1439px) {
			font-size: 18px;
		}
	}

}

.caption {
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
		margin-bottom: 5px;

		@media screen and (min-width: 1439px) {
			width: 100%
		}
  }

	&__topInfo {
		display: flex;
	}

	&__year {
		margin-right: 10px;
	}

	&__title {
		font-size: 15px;
		margin-bottom: 5px;
		width: 90%;

		@media screen and (min-width: 1439px) {
			font-size: 18px;
		}
	}

  &__category-container {
    display: flex;
    align-items: center;
  }

  &__category {
    margin-left: 5px;
  }
}

.movie-thumb {
	width: 100%;
	transition: opacity .3s ease;
}

.trending__slide .movie-thumb:hover {
	opacity: .7
}

.trending__slide {
	position: relative;
}

.img-placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.opacity {
	opacity: .5;
}

.swiper-wrapper {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}