$color-red: #fc4747;
$color-dark-blue: #10141e;
$color-light-purple: #5a698f;
$color-light-blue: #161d2f;
$color-white: #ffffff;

@mixin heading-fs-l {
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
	font-style: 1;
	letter-spacing: -0.5px;
}

@mixin heading-fs-m {
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 1;
}

@mixin heading-fs-s {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
}

@mixin section-heading {
	@include heading-fs-s;

	@media screen and (min-width: 767px) {
		@include heading-fs-m;
	}

	@media screen and (min-width: 1439px) {
		@include heading-fs-l
	}
}

@mixin text-fs-l {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
}

@mixin text-fs-m {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
}

@mixin text-fs-s {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.2;
}

@mixin input {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	background: $color-light-blue;
	border: none;
	color: white;
	caret-color: $color-red;
	border-radius: 5px;
	white-space:pre-wrap;
	border:1px solid transparent;
	box-sizing: border-box;
	outline: none;
}

@mixin actionButton {
	background: $color-red;
	border: none;
	color: white;
	padding: 10px;
	display: block;
	border-radius: 20px;
	transition: all 0.3s ease;
	
	&:hover {
		opacity: 0.5;
	}
}
