@import '../../variables/variables';

.searchPopup {
  &__heading {
    margin-bottom: 20px;
    @include  heading-fs-m ;
  }

  &__container {
    position: absolute;
    min-width: 380px;
    box-sizing: border-box;
    top: 70px; 
    left: 0;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    background: $color-dark-blue;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 50px 28px 16px rgba(0,0,0,0.5);
    max-height: 70vh;
    overflow: scroll;
    

    @media screen and (min-width: 767px) {
      box-shadow: 0px 33px 28px 16px rgba(0,0,0,0.75);
      margin-left: 24px;
      top: 100px;
    }

    @media screen and (min-width: 1439px) {
      margin-left: 189px;
      top: 120px;
      left: -120px;
    }
  }

  &__thumbnail {
    position: relative;
    border-radius: 3%;
    overflow: hidden;
    width: 40%;
  }

  &__item {
    display: flex;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

  }


}