@import "../../variables/variables";

.itemCard {
	&__container {
		@media screen and (min-width: 767px) {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-columns: calc(33% - 10px) calc(66% - 10px);
			gap: 20px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		width: 90%;
		@include text-fs-s;
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		@media screen and (min-width: 767px) {
			@include text-fs-m;
		}

		@media screen and (min-width: 1439px) { 
			@include text-fs-l;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__aboutFilm {
		display: none;
		@media screen and (min-width: 767px) {
			display: block;
			grid-area: 2/2/4/3;
		}
	}

	&__infoItem {
		width: 100%;
		opacity: 0.7;
		font-size: inherit;
	}

	&__infoData {
		text-align: left;
		width: 100%;
	}

	&__heading {
		@include heading-fs-s;
		text-align: center;


		@media screen and (min-width: 767px) {
			@include heading-fs-m;
			grid-area: 1/2/2/3;
			margin: 0;
		}

		@media screen and (min-width: 1439px) {
			@include heading-fs-l;
		}
	}

	&__subheading {
		@include heading-fs-s;
		margin: 20px 0;
	}

	&__thumbnail {
		width: 50%;
		margin: 0 auto;
		margin-bottom: 20px;
		max-width: 300px;
		min-height: 200px;
		position: relative;

		@media screen and (min-width: 767px) {
			margin-bottom: 0;
			grid-area: 2/1/3/2;
			width: 100%;
		}

		@media screen and (min-width: 1439px) {
		}
	}

	&__description {
		text-align: justify;
		margin-bottom: 20px;
		@include text-fs-s;

		@media screen and (min-width: 767px) {
			@include text-fs-m;
			grid-area: 4/2/5/3;
			margin: 0;
		}

		@media screen and (min-width: 1439px) {
			@include text-fs-l;

		}
	}

	&__rating {
		background: $color-light-blue;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 20px;

		@media screen and (min-width: 767px) {
			margin: 0;
			grid-area: 4/1/5/2;
		}
	}

	&__ratingHeading {
		@media screen and (min-width: 767px) {
			display: none;
		}
	}

	&__rating-number {
		font-size: 4rem;
		text-align: center;
		line-height: 1;
	}

	&__total-rating {
		text-align: center;
		opacity: 0.5;
		margin-bottom: 10px;
	}

	&__reviewsSlider {
		@media screen and (min-width: 767px) {
			grid-area: 5/2/6/3;
		}
	}

	&__reviews-placeholder {
		height: 150px;
		background: $color-light-blue;
		border-radius: 5px;
		@include text-fs-m;
		text-align: center;


		& p {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

input[aria-invalid="true"],
div[aria-invalid="true"] {
	border: 1px solid $color-red;
}

.popup-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
}

.tools {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 20px 0;

	@media screen and (min-width: 767px) {
		grid-area: 3/1/4/2;
	}
	&__item {
		cursor: pointer;
	}

	&__rate-button {
		background: transparent;
		border: none;
		color: gray;
		width: 50px;
	}

	&__rate-icon {
		width: 30px;
		cursor: pointer;
	}

	&__rate-text {
		text-align: center;
		color: $color-light-purple;
		font-size: 12px;
	}

	&__bookmark-button {
		background: transparent;
		border: none;
		width: 100%;
	}

	&__bookmark-text {
		text-align: center;
	}

	&__bookmark-icon {
		width: 26px;
		display: block;
		margin: 0 auto;
		cursor: pointer;
	}


}
