@import "../../variables/variables";

.recommended {
	&__gridContainer {
		display: grid;
		grid-template-columns: calc(50% - 10px) calc(50% - 10px);
		gap: 20px;

		@media screen and (min-width: 500px) {
			grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
		}

		@media screen and (min-width: 1200px) {
			grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
		}

		@media screen and (min-width: 1919px) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	&__item {
		position: relative;
		min-height: 210px;
		width: 100%;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
	}

	&__img-container {
		margin-bottom: 10px;
		border-radius: 3px;
		overflow: hidden;
		min-height: 210px;
	}

	&__img {
		width: 100%;
		object-fit: cover;

		@media screen and (min-width: 1439px) {
			width: 100%;
			height: 100%;
			object-position: top;
		}
	}

	&__category-container {
		display: flex;
	}

	&__category {
		margin-left: 5px;
	}

	&__caption {
		max-width: 170px;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;

		@media screen and (min-width: 1439px) {
			font-size: 18px;
		}
	}

	&__year {
	}

	&__title {
		@media screen and (min-width: 1439px) {
			font-size: 18px;
		}
	}
}

.recommended-bookmark {
	position: absolute;
	top: 5%;
	right: 12%;
}

.loading-button {
	margin: 0 auto;
	margin-top: 30px;
	display: block;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: $color-red;
	border: none;
	color: white;
	font-weight: 700;

	&[disabled] {
		opacity: 0.5;
	}
}
