@import "../../variables/variables.scss";

.header {
  background-color: $color-light-blue;
  padding: 10px 0;
  margin-bottom: 24px;

  &__navigation {
    gap: 24px;
    display: flex;
    & a {
      display: block;
    }
  }

  &__avatar {

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    
    & img {
      object-fit: cover;
      height: 50px;
      width: 50px;
    }
  }
}

