@import "../../variables/variables.scss";

.header {
  background-color: $color-light-blue;
  padding: 10px 0;
  margin-bottom: 24px;

  @media screen and (min-width: 767px) {
    padding: 10px;
    margin: 0 auto;
    margin-top: 23px;
    width: 90%;
    border-radius: 10px;
  }

  &__navigation {
    gap: 24px;
    display: flex;

    @media screen and (min-width: 767px) {
      gap: 32px
    }
    & a {
      display: block;
    }
  }

  &__avatar {

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    
    & img {
      object-fit: cover;
      height: 50px;
      width: 50px;
    }
  }
}

a.active path {
  fill: white;
}


