@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import "./variables/variables";


body {
	margin: 0;
	color: white;
	font-family: "Outfit", sans-serif;
	background: $color-dark-blue;
	min-width: 380px;
}

p {
	margin: 0;
}

a {
	transition: opacity .3s ease;
}

a:hover {
	opacity: .5;
}

.container {
	padding: 16px;

	@media screen and (min-width: 767px) {
		padding: 24px;
	}

	@media screen and (min-width: 1439px) {
		margin-left: 165px;
	}
}

.section-heading {
	@include section-heading;
}


.gridSys {
	@media screen and (min-width: 767px) {
		display: grid;
		grid-template-columns: 100px 1fr;
	}
}

.swiper {
	z-index: 0 !important;
}
