@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import "./variables/variables";

body {
	margin: 0;
	color: white;
	font-family: "Outfit", sans-serif;
	background: $color-dark-blue;
	min-width: 380px;
	max-width: 1920px;
	margin: 0 auto;
}

p {
	margin: 0;
}

a {
	transition: opacity 0.3s ease;
}

a:hover {
	opacity: 0.5;
}

.container {
	padding: 16px;
	position: relative;

	@media screen and (min-width: 767px) {
		padding: 24px;
	}

	@media screen and (min-width: 1439px) {
		margin-left: 165px;
		padding: 50px;
	}
}

.section-heading {
	@include section-heading;
	margin-bottom: 30px;
}

.gridSys {
	@media screen and (min-width: 767px) {
		display: grid;
		grid-template-columns: 100px 1fr;
	}
}

.swiper {
	z-index: 0 !important;
}

.placeholder {
	background: $color-light-purple;
	width: 100%;
	height: 20px;
	opacity: 0.5;
}

.no-result {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

h1, h2, h3 {
	margin: 0;
}
